		<!--galley start-->
		<section id="gallery" class="gallery">
        <div class="container">
          <div class="gallery-details">
            <div class="gallary-header text-center">
              <h2>
                top destination
              </h2>
              <p>
                Duis aute irure dolor in  velit esse cillum dolore eu fugiat nulla.
              </p>
            </div><!--/.gallery-header-->
            <div class="gallery-box">
              <div class="gallery-content">
                  <div class="filtr-container">
                    <div class="row">

                      <app-brazil></app-brazil>>
                      <app-australia></app-australia>>
                      <app-netherland></app-netherland>>
                      <app-turkey></app-turkey>>

                    </div><!-- /.row -->

                  </div><!-- /.filtr-container-->
              </div><!-- /.gallery-content -->
            </div><!--/.galley-box-->
          </div><!--/.gallery-details-->
        </div><!--/.container-->

      </section><!--/.gallery-->
      <!--gallery end-->
