<!--travel-box start-->
<section  class="travel-box">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="single-travel-boxes">
          <div id="desc-tabs" class="desc-tabs">

        <ul class="nav nav-tabs" role="tablist">

          <li role="presentation">
            <a href="#hotels" aria-controls="hotels" role="tab" data-toggle="tab">
              <i class="fa fa-building"></i>
              hotels
            </a>
          </li>

          <li role="presentation">
             <a href="#flights" aria-controls="flights" role="tab" data-toggle="tab">
               <i class="fa fa-plane"></i>
               flights
             </a>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade in" id="hotels">
            <div class="tab-para">

              <app-hotels></app-hotels>

            </div><!--/.tab-para-->
          </div><!--/.tabpannel-->

          <div role="tabpanel" class="tab-pane fade in" id="flights">
              <div class="tab-para">

                <app-flights></app-flights>

              </div>
            </div><!--/.tabpannel-->

        </div><!--/.tab content-->
      </div><!--/.desc-tabs-->
      </div><!--/.single-travel-box-->
      </div><!--/.col-->
    </div><!--/.row-->
  </div><!--/.container-->

</section><!--/.travel-box-->
<!--travel-box end-->
